* {
	box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Segoe UI Light', 'Segoe UI', sans-serif;
	font-size: 15px;
	line-height: 20px;
}

code, pre, tt, kbd, h2, h3 {
	font-family: Consolas, "Courier New", monospace;
}

small {
    font-size: 70%;
}

#main {
	position: fixed;
	width: 100%;
	height: 100%;
}

#submain {
	height: 100%;
	position: relative;
	box-sizing: content-box;
}

#left:before, #left:after, #right:before, #right:after {
	content: " ";
	display: table;
}

#left, #right {
	height: 100%;
	overflow: auto;
}

#left {
	float: left;
	width: 30%;
}

#right {
	padding: 10px;
	float: right;
	width: 70%;
	background-color: #131313;
}

h1 {
	font-size: 25px;
	line-height: 28px;
	color: dodgerblue;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	color: dodgerblue;
	display: inline-block;
}

.active h2, .active .box-wrap {
    color: mediumvioletred;
}

h3 {
	font-weight: bold;
	display: inline-block;
}

.box {
	border: 1px solid black;
	border-width: 0 0 1px 0;
	background: gainsboro;
	padding: 10px 5px;
}

.box:last-child {
    border: none;
}

.box-clickable:hover {
	background: gold;
	cursor: pointer;
}

.box-wrap {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	display: block;
}

.box.active {
    background: #b0b0b0;
}

h1 code {
	background: white;
	padding: 0 5px;
}

/** OLD ONE **/
#right .error-preview code {
	padding: 3px;
}

#right .error-preview code {
	font-family: 'Consolas', monospace;
	font-size: 16px;
	line-height: 21px;
	cursor: default;
	background-color: #222;
	/*overflow-x: auto;*/
	border-radius: 3px;
	display: block;
}

ol li:hover {
	background-color: #333 !important;
}

.num {
	width: 50px;
	background-color: #0A0A0A;
	color: #888;
	display: inline-block;
	text-align: right;
	padding-right: 3px;
	margin-right: 3px;
}

#right code .num {
	margin-left: 0px;
}

.line {
	display: block;
}

.line:hover {
	background-color: #333;
}

.line:hover .num {
	background-color: #2a2a2a;
}

.err, .highlight:hover {
	display: block;
	background-color: #391414;
}

.err:hover {
	background-color: #492424;
}

/*.err .num {
	background-color: darkorange;
	color: white
}

.err:hover .num {
	background-color: goldenrod;
}*/

.highlight {
	display: block;
	padding: 3px 0;
	margin: 3px 0;
	cursor: pointer;
}

.highlight .num {
	background-color: transparent;
}

p.pink {
	color: lightpink;
	font-family: Consolas, "Courier New", monospace;
}

.codebox {
    border-left: 10px solid lightpink;
    margin: -10px;
    padding: 10px;
}

.error-header,.vars {
    margin: -10px;
    padding: 20px;
    border-left: 10px solid mediumvioletred;
}

.error-header {
    background: gainsboro;
    margin-bottom: 10px;
}

.vars {
    background: #ccc;
    margin-top: 10px;
}

.vars h1 {
    font-size: 20px;
    margin: 5px 0;
    border-bottom: 1px solid gray;
}

table {
    width: 100%;
    font-family: 'Consolas', monospace;
    font-size: 13px;
}

.d-k, .d-v {
	border-bottom: 1px solid white;
}

.d-k {
    width: 30%;
    font-weight: bold;
}

.d-v {
    width: 70%;
    word-wrap: break-word;
    word-break: break-all;
}
