@import url('reset.css');

body {
	color: #333;
	background-color: #202E3B;
}

#layout {
	max-width: 800px;
	margin: 0px auto;
	margin-bottom: 10px;
}

#inner-layout {
	padding: 10px 15px 5px 15px;
	/*background-color: white;*/
}

form {
	display: block;
}

body, pre, code, tt {
	font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 22px;
}

pre, code, tt {
	font-family: 'Consolas', monospace;
	color: brown;
}

pre, code, blockquote {
	border: 1px solid #bbb;
	padding: 1px 4px;
	border-radius: 3px;
	background-color: #eee;
}

code.tt {
	padding: 0;
	border: none;
	background: none;
}

hr {
	height: 0px;
	border: none;
	border-top: 1px solid #333;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 30px;
	font-weight: bold;
	margin: 5px 0;
	color: #444;
}

h3, h4, h6 {
	text-decoration: underline;
}

h1, h3 {
	font-size: 25px;
}

h2, h4 {
	font-size: 20px;
}

h5, h6 {
	font-size: 15px;
}

a, a:visited {
	color: steelblue;
	text-decoration: none;
}

a:hover, a:focus {
	color: #2F3F4F;
}

a.active {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

p, pre {
	margin-bottom: 10px;
}

small, small code {
	font-size: 10px;
}

blockquote {
	margin: 5px 20px;
	padding: 10px;
	font-size: 15px;
	color: #8C3136;
}

table {
	border: 3px solid #ccc;
	/*border-collapse: separate;*/
	border-collapse: collapse;
	border-spacing: 0;
	background-color: white;
	padding: 1px;
}

td, th {
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
	padding: 2px 5px;
}

th {
	background-color: #e1e1e1;
	color: #555;
	border: 1px solid #e1e1e1;
	border-bottom: 1px solid white;
}

td {
	border: 1px solid #e1e1e1;
	min-width: 50px;
}

tbody tr:nth-child(even) {
	background: #f1f1f1;
}

/*tr:first-child * {
	border-top: none
}

td:first-child, th:first-child {
	border-left: none;
}

tr:first-child th:first-child {
	border-radius: 3px 0 0 0;
}

tr:first-child th:last-child {
	border-radius: 0 3px 0 0;
}
*/

tr:first-child th:only-child {
	border-radius: 3px 3px 0 0;
	font-weight: bold;
}

tr:hover td {
	background-color: #e1e1e1;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

tr:hover th {
	background-color: #d1d1d1;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

.footer {
	font-size: 10px;
	color: white;
	padding: 5px;
	border-radius: 0 0 3px 3px;
}

.footer a {
	font-weight: bold;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix {
	clear: both;
}

ul, ol {
	margin-left: 25px;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

.blue-more {
	color: #202E3B
}

.blue-less {
	color: #2F3F4F;
}

.red-more {
	color: #762A2E;
}

.red-less {
	color: #8C3136;
}

.brown {
	color: #5A1F23;
}

.cream {
	color: #F4F3EE;
}

.cream-light {
	color: #EBE8DF;
}

.cream-dark {
	color: #DEDDD8;
}

.blue-more-bg {
	background-color: #202E3B
}

.blue-less-bg {
	background-color: #2F3F4F;
}

.red-more-bg {
	background-color: #762A2E;
}

.red-less-bg {
	background-color: #8C3136;
}

.brown-bg {
	background-color: #5A1F23;
}

.cream-bg {
	background-color: #F4F3EE;
}

.cream-light-bg {
	background-color: #EBE8DF;
}

.cream-dark-bg {
	background-color: #DEDDD8;
}

.breadcrumbs {
	font-size: 11px;
	font-weight: bold;
}
