@import url('reset.css');

body{
	color: #333;
	background-color: crimson;
}

#layout{
	max-width: 800px;
	margin: 0px auto;
	margin-bottom: 10px;
}
#inner-layout{
	padding: 10px 15px 5px 15px;
	background-color: white;
}

body, pre, code, tt {
	font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 22px;
}

pre, code, tt {
	font-family: 'Consolas', monospace;
}

pre, code {
	border: 1px solid #bbb;
	padding: 1px 4px;
	border-radius: 3px;
	background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 30px;
	font-weight: bold;
	margin: 5px 0;
}
h3, h4 {color: black; text-decoration: underline;}
h1, h3, h5 {font-size: 25px;}
h2, h4, h6 {font-size: 20px;}

a, a:visited{color: cornflowerblue; text-decoration: none;}
a:hover, a:focus{color: steelblue;}
a.active{font-weight: bold;}

strong {
	font-weight: bold;
}

p {
	margin-bottom: 4px;
}

small, small code {
	font-size: 10px;
}

table{border: 1px solid #aaa; border-radius: 3px; border-collapse: separate; border-spacing: 0;}
td, th{border-left: 1px solid #aaa; border-top: 1px solid #aaa; padding: 2px 5px;}
th{background-color: #ddd; color: #555;}
td{min-width: 50px;}

tr:first-child *{border-top: none}
td:first-child, th:first-child {border-left: none;}

tr:first-child th:first-child{border-radius: 3px 0 0 0;}
tr:first-child th:last-child {border-radius: 0 3px 0 0;}
tr:first-child th:only-child {border-radius: 3px 3px 0 0; font-weight: bold;}

tr:hover td{background-color: lightgoldenrodyellow; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out;}
tr:hover th{background-color: #ccc; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out;}

.footer{
	font-size: 10px;
	color: white;
	background-color: #333;
	padding: 5px;
	border-radius: 0 0 3px 3px;
}
.footer a {
	font-weight: bold;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix {
	clear: both;
}

ul, ol {
	margin-left: 25px;
}
ul {
	list-style: square;
}
ol {
	list-style: decimal;
}